#title {
    font-family: 'Spectral SC', serif;
    font-size: 20px;
}

#motto {
    font-family: 'Amatic SC', cursive;
    font-size: 3m;
}

.header {
    float: left;
    padding: 15px;
}

body{
    margin: 60px;
    background-color: eaf2ff;
}

#inhalt {
    clear: both;
    background-color: white;
    padding: 15px;
    margin-right: 120px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    f
}