#title {
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    color: white;
}

#logo{
    margin-top: -40px; 
    height: 30%;
}

#motto {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: white;
}

.header {
    float: left;
    padding: 15px;
}

body{
    margin: 60px;
    background-color: #39364A
}

#inhalt {
    background-color: white;
    padding: 25px;
    float: left;
    margin-right: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 80%;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px;
    
}

.Themen{
    padding-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}

.Themenfrage{
    margin-top: -5px;
    padding-left: 30px;
    font-size: 20px;
}

#nav{
    position: fixed;
    top: 100px;
    right: 30px;
    color: white;
    background-color: #505b6d
    padding: 10px;
}

li{
    display: block;
    background-color: #837D99;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.erklaerung{
    padding-left: 50px;
}

#argumentT{
    margin-top: 30px;
    border-spacing: 10px;
    font-size: 20px;
    font-family:  'Quicksand', sans-serif;
    margin-left:auto;
    margin-right:auto;
    font-size: 18px;
}

td{
    background-color: #f4f6f9; 
    padding: 10px;
    width: 50%;
    border-radius: 10px;    
}

a{
    color: white;
    text-decoration:none;
}

p{
    font-family: 'Quicksand', sans-serif;
}

.procon{
    background-color: #f4f6f9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.addargument{
    

}